<h1>Productos en tiempo real</h1>

<ul id="productList">

{{#each products}}

<li>
{{this.title}} - ${{this.price}}
</li>

{{/each}}

</ul>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>